name: Release to NPM and Docker hub
on:
  release:
    types: [created]
jobs:
  npm:
    name: Build and release to NPM
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          registry-url: 'https://registry.npmjs.org'
      - run: yarn
      - run: yarn run build
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_PUBLISH_TOKEN}}
  dockerhub:
    name: Build and release image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}
      - name: Extract branch name
        shell: bash
        run: echo "branch=$(echo ${GITHUB_REF#refs/heads/})" >>$GITHUB_OUTPUT
        id: extract_branch
      - run: docker run --rm --privileged tonistiigi/binfmt --install all
      - run: >-
          docker buildx build
          --platform linux/arm64,linux/amd64
          --push
          --tag bedasoftware/kaitenzushi:${{ steps.extract_branch.outputs.branch }}
          --tag bedasoftware/kaitenzushi:latest
          .
